@{
    ViewBag.Title = "ASPTestChat";
}
<!DOCTYPE html>
<html>
<head>
    
    <meta charset="utf-8" />
    <title>ASPTestChat</title>
   </head>
<body>
    @{
        if (System.Web.HttpContext.Current.User.Identity.IsAuthenticated == true)
        {
            @Html.Partial("Chat")
        }
        else
        {
            @Html.Partial("../Account/Login")
        }
    }
   
</body>
</html>



